* {
    box-sizing: border-box;
  }
  body {
    background-color: #f7fafc;
  }
  h1{
    margin: -10rem 0 0rem;
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 5rem;
    margin-top: 5rem;
    font-family:   sans-serif;
    color: #0a345c;
  }
  
  .ConsultasPaciente {
    padding: 0 30px;
  }